
listen sftp *:22
	mode tcp
	option tcplog
	acl white_list src 8.8.8.8 8.8.8.9
	tcp-request content accept if white_list
	tcp-request content reject
	default_backend sftp-server01

backend sftp-server01
	mode tcp
	server ftp01 myfileserver.foo.org:22 check port 22
